<h5 class="breadcrumbs-title">User</h5>
<table datatable="" auto-grid-width dt-options="dtOptions" dt-columns="dtColumns" dt-instance="dtInstance" class="row-border hover"></table>
<form name="userForm" ng-submit="submitForm()" accept-charset="utf-8">
	<input type="hidden" ng-model="formdata.id" />
	<div input-field>
		<input type="text" ng-model="formdata.username" length="150">
		<label>Username</label>
	</div>
	<div input-field>
		<input type="email" name="email" ng-model="formdata.email" length="150" required>
		<label>Email</label>
		<p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="red-text">Enter a valid email.</p>
	</div>
	<div>
		<button class="btn waves-effect waves-light cyan darken-1" type="submit" name="Submit">Submit
			<i class="mdi-navigation-check"></i>
		</button>
		<button class="btn waves-effect waves-light orange darken-1" type="reset" ng-click="resetForm()" name="Cancel">Cancel
			<i class="mdi-navigation-close"></i>
		</button>
	</div>
</form>
